<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.2.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.5" targetFramework="net461" />
  <package id="IronPython" version="2.7.8.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="2.46.0" targetFramework="net461" />
  <package id="SimpleBrowser" version="0.5.79.0" targetFramework="net461" />
  <package id="SimpleBrowser.WebDriver" version="0.5.37" targetFramework="net461" />
  <package id="Transavia.Api.FlightOffers" version="1.0.5" targetFramework="net461" />
</packages>