@{

    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@if (!Request.IsAjaxRequest())
{
    @Html.Partial("_PageTitle")
}

@section head {
    @Html.CssImportContent("~/Content/Views/Error/Error.css")
}



<div class="col-xs-12 col-md-10 col-md-offset-1">

    <div class="main-content" id="Error404PicDiv">
        <img id="Error404Pic" src="~/Ressources/Files/Images/Error/404.gif" onclick="GoBackToHomePage();" />
    </div>
</div>

@section scripts {
    @Html.ScriptImportContent("~/Scripts/General/StopSpinner.js")
}


